body{
  background-color: rgb(25, 25, 25);
  font-family: Arial;
  color: white;
}
.p1{
  font-size: 30px;
  font-weight: bold;
}
.p2{
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
}
.reset-button,.autoplay{
  padding: 8px 15px;
  border-radius: 0px;
  border: none;
  font-size: 15px;
}
.image-icon{
  height: 50px;
}
.image-button{
  background-color: transparent;
  border: 3px solid white; /* border width, border style - dotted, dashed or solid , border color*/
  margin-right: 10px;
  border-radius: 60px;
  height: 120px;
  width: 120px;
}
.p4{
  margin-top: 60px;
}
.picks-button{
  Height: 50px;
}